
# Environment variables for the server configuration
PORT=4000

# MongoDB connection URI with credentials and options
MONGO_URI=
JWT_SECRET=secretkey123
NODE_ENV=development

# SMTP Configuration
SMTP_USER=
SMTP_PASS=


SENDER_EMAIL=
